In [42]:
import pandas as pd

In [106]:
def no_show_average(feature, data=df):
    df = pd.DatA
    avgs =  {var:100*data[data[feature] == var].no_show.mean() for var in set(data[feature])}
    count =  {var:100*df[data[feature] == var].no_show.count() for var in set(data[feature])}
    return avgs, count
    #return pd.DataFrame(avgs, index=['{} - No show average [%]'.format(feature)]).T.round(2)

In [107]:
no_show_average('Gender')

({'M': 19.967947889471915, 'F': 20.31458797327394},
 {'M': 3868700, 'F': 7184000})

In [102]:
df = pd.read_csv('../00_data/data_rev00.csv')
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay'])
df['age_grouped']  = pd.cut(df['Age'], [-1, 20, 70, df['Age'].max()+1], labels=['Young', 'Adults', 'Elderly'])
df['weekday'] = [d.weekday() for d in df['ScheduledDay']]
df['morning'] = [True if d.hour<=12 else False for d in df['ScheduledDay'] ]
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,no_show,health_index,age_grouped,weekday,morning
0,2.987250e+13,5642903,F,2016-04-29 18:38:08+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,False,1,Adults,4,False
1,5.589978e+14,5642503,M,2016-04-29 16:08:27+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,False,0,Adults,4,False
2,4.262962e+12,5642549,F,2016-04-29 16:19:04+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,False,0,Adults,4,False
3,8.679512e+11,5642828,F,2016-04-29 17:29:31+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,False,0,Young,4,False
4,8.841186e+12,5642494,F,2016-04-29 16:07:23+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,False,2,Adults,4,False

### Impact of a single feature on the no-show percentage

In [40]:
no_show_average('Gender')

   Gender - No show average [%]
M                         19.97
F                         20.31

In [41]:
no_show_average('Scholarship')

   Scholarship - No show average [%]
0                              19.81
1                              23.74

In [30]:
no_show_average('Hipertension')

   Hipertension - No show average [%]
0                                20.9
1                                17.3

In [31]:
no_show_average('Diabetes')

   Diabetes - No show average [%]
0                           20.36
1                           18.00

In [32]:
no_show_average('Alcoholism')

   Alcoholism - No show average [%]
0                             20.19
1                             20.15

In [33]:
no_show_average('Handcap')

   Handcap - No show average [%]
0                          20.24
1                          17.92
2                          20.22
3                          23.08
4                          33.33

In [34]:
no_show_average('SMS_received')

   SMS_received - No show average [%]
0                               16.70
1                               27.57

In [35]:
no_show_average('health_index')

   health_index - No show average [%]
0                               20.91
1                               17.80
2                               17.70
3                               17.97

In [36]:
no_show_average('age_grouped')

         age_grouped - No show average [%]
Young                                22.28
Elderly                              15.84
Adults                               19.78

In [54]:
no_show_average('weekday')

   weekday - No show average [%]
0                          19.76
1                          20.22
2                          20.11
3                          20.47
4                          20.55
5                           4.17

In [76]:
no_show_average('morning')

       morning - No show average [%]
False                          22.67
True                           18.97

In [87]:
no_show_average("Neighbourhood").sort_values('Neighbourhood - No show average [%]', ascending=False)

                             Neighbourhood - No show average [%]
ILHAS OCEÂNICAS DE TRINDADE                               100.00
SANTOS DUMONT                                              28.92
SANTA CECÍLIA                                              27.46
SANTA CLARA                                                26.48
ITARARÉ                                                    26.27
...                                                          ...
SOLON BORGES                                               14.71
MÁRIO CYPRESTE                                             14.56
AEROPORTO                                                  12.50
ILHA DO BOI                                                 8.57
PARQUE INDUSTRIAL                                           0.00

[81 rows x 1 columns]